.top-section {
  /* display: flex;
  align-items: center;
  background-color: #e6ecf5; /* Set the background color */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); Optional: Add a box shadow */
  position: relative;
}

.photo {
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.text-container {
  position: absolute;
  bottom: 1000px;
  right: 90px;
  font-size: 40px;
}
