.home {
  position: relative;
}

.top-section {
  background-image: url("../assets/backHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
  height: 90vh;
  display: flex;
  justify-content: right;
}
.text-container {
  display: flex;
  flex-direction: column;
  margin-block-start: 5.83em;
  margin-right: 10px;
}
.head-text {
  display: flex;
  flex-direction: row;
}
.head-text > :not(:last-child) {
  margin-right: 20px;
}

/* 
.last-typography-container {
  align-items: center;
} */
/* .photo {
  margin-right: 100px;
  width: 320px;
  height: auto;
  border-radius: 6px;
  border: 5px solid #fff;
} */
